//* ImcTable component styles *//
$color1: #022B3A;
$color2: #1F7A8C;
$color3: #BFDBF7;
$color4: #E1E5F2;
$color5: #FFFFFF;

//* Estilos de la tabla de IMC
#ImcTable {
  color: #022B3A;

  .table {
    th, td {
      border: 2px solid #1F7A8C;
    }
  }
}